<!DOCTYPE html>
<html>
<div th:replace="layout/head :: head"></div>
<body>
<nav th:replace="layout/menu :: menuJacaranda"></nav>

<h1>Lista de compañías</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Ciudad</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="company :${listCompanies}">
      <td th:text="${company.id}"></td>
      <td th:text="${company.name}"></td>
      <td th:text="${company.address}"></td>
      <td th:text="${company.city}"></td>
	  <td>
	    <a class="btn btn-danger" th:href="@{'/confirmDelete/' + ${company.id}}">Eliminar</a>
	  </td>
	  <td>
	    <a class="btn btn-success" th:href="@{'/editCompany/' + ${company.id}}">Editar</a>
	  </td>
    </tr>
  </tbody>
</table>

<div th:insert="layout/footer :: pie"></div>
</body>
</html>
